<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <from action="/AppTienda/formClientes/" method="POST">  {% csrf_token %}
        <p> Nombre Completo: <input type="text" nome="nombrecompleto"></p>
        <p> D.N.I: <input type="number" nome="dni"></p>
        <p> Edad: <input type="number" nome="edad"></p>
        <p> Direccion: <input type="text" nome="direccion"></p>
        <p> Codigo Postal: <input type="number" nome="cp"></p>
        <p> Email: <input type="email" nome="email"></p>
        <p> Telefono: <input type="tel" nome="telefono"></p>

        <input type="submit" value="Ingresar">
</body>
</html>