{% extends "AppTienda/Padre.html" %}
{% load static %} 

{% block titulo %} 
<h1 class="mb-5" style="font-size:90px;">Ingresos Clientes</h1>
{% endblock %} 
{% block contenido %} 
<h1>Datos del Cliente</h1>
<a class="btn btn-primary" style="margin-left:auto; margin-right: auto;"  href="{% url 'clientes' %}">Volver</a>
<a class="btn btn-primary" style="margin-left:auto; margin-right: auto;" href="{% url 'formClientes' %}">Buscar Datos</a>

{% endblock %} 

{% if formulario.error %}
    <p style= "color:red">ERROR EN EL FORMULARIO</p>
{% endif %}


{% block formulario %}

<form style="margin: auto; width: 320px;" action="{% url 'formClientes' %}" method="POST" > {% csrf_token %}
    
    <table>
        {{ formulario.as_table }}
    </table>

    <input type="submit" class ="btn btn-primary" value="Ingresar">
</form>


{% endblock %}