{% extends "AppTienda/Padre.html" %}
{% load static %} 

{% block titulo %} 
<h1 class="mb-5" style="font-size:90px;">Personal</h1>
{% endblock %} 


{% block contenido %} 
<br>
<br>
<h1><center>Datos del Personal</center></h1>

<h1> <center>  
<a class="btn btn-primary" style="margin-left:auto; margin-right: auto;" href= 'list'>Listado</a>
<a class="btn btn-primary" style="margin-left:auto; margin-right: auto;" href="{% url 'formPersonal' %}#formpersonal">Agregar</a>
</center> </h1>

{% endblock %} 

{% block formulario %}
{% endblock %} 
